.ventureLabs-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  background-color: rgb(245 245 245);
  padding: 0;
  overflow: hidden;
  width: 0;
  transition: width 0.5s ease, padding 0.5s ease;
  z-index: 101;
  top: 0;
  white-space: nowrap;
  border-right: 4px solid var(--line-border-fill);
}

.ventureLabs__hero-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.ventureLabs-menu--open {
  width: 220px;
}

.ventureLabs-menu-nav-container {
  padding: 2rem 0;
}

.ventureLabs-menu__list {
  list-style: none;
}

.ventureLabs-menu__item {
  display: flex;
  align-items: center;
  position: relative;
  height: 4.2rem;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.ventureLabs-menu__item.active::after {
  content: "";
  height: 100%;
  background: var(--line-border-fill);
  width: 0.9rem;
  position: absolute;
  left: -50px;
  border-radius: 20px;
}

.newUser-icon {
  position: absolute;
  width: 30px;
  cursor: pointer;
  left: -30px;
}

.newUser-icon path {
  fill: var(--line-border-fill);
}

.newUser-icon.list {
  transform: scale(1.25);
}

.ventureLabs-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  background: transparent;
}

.ventureLabs-menu__btn:hover {
  text-decoration: underline;
}

.newUser-icon:hover ~ .ventureLabs-menu__btn {
  text-decoration: underline;
}

.arrow {
  position: absolute;
  right: 0;
  color: #fff;
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
  width: 20px;
}

.arrow:hover {
  transform: scale(0.85) rotate(180deg);
}

.ventureLabs__menu > .__hero-container > .svg-arrow {
  display: none;
}

.ventureLabs__menu--open > .__hero-container > .svg-arrow {
  display: initial;
}

.author {
  margin-left: 0.5rem;
}
