.form {
  color: var(--white);
  text-align: start;
  width: 100%;
  max-width: 500px;
  background-color: var(--red);
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.form .form-group {
  margin-bottom: 0.5rem;
}

.form .form-group label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.form .form-group label input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
  margin-top: 0.5rem;
  border-bottom: 2px solid var(--line-border-fill);
}

.error-msg {
  display: none;
}

.form .form-group input:invalid[focused="true"] ~ span {
  display: block;
}
