.form {
  color: var(--white);
  text-align: start;
  background-color: var(--red);
  border-radius: 0.5rem;
  margin-inline: auto;
  margin-top: 5rem;
}

.form .form-group {
  margin-bottom: 0.5rem;
  margin-inline: auto;
  max-width: 500px;
  padding: 0.5rem;
}

.form .form-group label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.form .form-group label input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
  margin-top: 0.5rem;
  border-bottom: 2px solid var(--line-border-fill);
  box-sizing: border-box;
}

.error-msg {
  display: none;
  color: red;
  font-size: 0.8rem;
}

.form .form-group input:invalid[data-focused="true"] ~ span {
  display: block;
}

.formSteps-container {
  display: inline-flex;
  transform: translate(0);
  transition: transform 0.3s ease-out;
  font-size: 1.2rem;
  align-items: center;
}

.formStep {
  flex: 0 0 100vw;
  transition: transform 0.3s ease-out;
}

.formReceivedMsg {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243 243 243);
  border-radius: 2px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.formReceivedMsg h2 {
  text-align: center;
  margin: 0;
}

.formReceivedMsg img {
  width: 250px;
  border-radius: 1rem;
}

.ventureLabs-select {
  outline: none;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--line-border-fill);
  color: white;
  margin-left: 1rem;
}

.ventureLabs-select option {
  border: none;
}
