.header {
  background-color: rgb(255 255 255);
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0 3px 5px rgb(57 63 72 / 30%);
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__bars-btn {
  border: none;
  outline: none;
  position: absolute;
  left: 1rem;
  cursor: pointer;
  background-color: transparent;
}

.header__bars {
  width: 20px;
  transition: transform 0.2s ease-in-out;
}

.header__bars:hover {
  transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  .header__bars-btn {
    left: 3.7rem;
  }
}
